.goodsearch {
	padding:5px 0;
	text-align:center;
	border:solid 1px #CCCCCC;
	width: 100%;
	font-family:Arial,Helvetica;
	font-size:12px;
	color: #000;
	background: #FFF;
	margin: 10px 0;
}

.goodsearch a {
	border: 0px;
	text-decoration: none;
}
.goodsearch img {
	margin-bottom:5px;
	border:0px;
	width: 190px;
}

.goodsearch label {
	display:none;
}


#goodsearch_keywords_6 {
	background-image:url('http://www.goodsearch.com/_gfx/yahoo_background.gif');
	background-repeat:no-repeat;
	width: 80%;

}

#goodsearch_submit_6 {
	font-family:Arial,Helvetica;
	font-size:11px;
}